<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>UserApp</display-name>
	<welcome-file-list>
		<welcome-file>addUser.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>CreateUserServlet</display-name>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>com.test.servletandjdbc.CreateUserServlet</servlet-class>
		<init-param>
			<param-name>dburl</param-name>
			<param-value>jdbc:mysql://localhost:3306/mydb</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>password</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/addUser</url-pattern>
	</servlet-mapping>
</web-app>